@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
$background-color: #ffffff;
$text-primary: #2D4263;
$text-primary-hover:#23344e ;
$text-secondary: #B7935A;
$text-secondary-hover:#725c38;
$font-family: 'Playfair Display';