@import '../../styles/variables';
.card {
    height: 100%;
}
.accordion-item {
    border: none !important;
    border-radius: 10px !important;
    box-shadow: none !important;
}
.top-most-heading {
    & button {
        background-color: $text-primary !important;
        box-shadow: none !important;
        color: #fff !important;
        font-weight: bold;
    }
}
.top-most-body{
    padding: 20px 0;
    height: calc(100vh - 200px);
    overflow: auto;
    & button {
        background-color: transparent !important;
        color: $text-primary !important;
        box-shadow: none !important;
        font-weight: bold;
        border: none;
    }
}
.form-check {
    margin-bottom: 20px;
    font-weight: bold;
    color: $text-primary !important;
}
